/koushin
/db
/themes/*
!/themes/sourcehut
!/themes/alps
/plugins/*
!/plugins/base
!/plugins/caldav
!/plugins/carddav
!/plugins/events
!/plugins/lua
!/plugins/viewhtml
!/plugins/
!/plugins/usersettings
!/plugins/viewtext
